nav.navbar{
  background-image: linear-gradient(#042157, #0640ac);
}
html, body{
  min-height: 100%;
  background-color: #0640ac;
}
#app{
  background-color: #0640ac;
}
a:hover{
  text-decoration: none;
}
.bg-light-blue{
  background-color: #5d99ac;
}
.bg-input{
  background-color: #a6accc !important;
}
a:hover{
  text-decoration: none!important;
}
.cursor-pointer{
  cursor: pointer;
}
.fw-500{
  font-weight: 500!important;
}
